
span.sitetitle
{
    font-size: 3em;
}

span.siteslogan
{
    position: absolute;
    top: 100px;
    left: 80px;
    font-size: 1.5em;
    border-top: 1px solid;
}

div#main
{
    width: 40em;
    margin-left: 2.7em;
}

div#footer
{
    width: 40em;
    margin-left: 2.7em;
    border-top: 1px dashed;
}

div.comment
{
    width: 40em;
    clear: both;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-left: 2px solid;
    min-height: 80px;
}

footer.byline p
{
    font-size: 0.7em;
    border-left: 4px solid;
}

img.avatar
{
    float: left;
}

a.postcomment
{
    clear: both;
}

